In [ ]:
#imports and options

import pandas as pd
pd.set_option('display.max_colwidth', - 1)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  after removing the cwd from sys.path.

# Retrieving the Data

For this assignment you will be working with the Construction and Demolition dataset issued by the DOB (Department of Buildings) and published on NYC Open Data (https://opendata.cityofnewyork.us/). NYC Open Data provides multiple free datasets like this one, and is a great source for data science projects.

This dataset is really big, so we are only going to be using the first 2 Million rows. Even so, the code block below might take bit of time...

In [ ]:
df = pd.read_csv("https://data.cityofnewyork.us/resource/ipu4-2q9a.csv?$limit=2000000")
df.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (1,8,9,10,15,31,33,34,35,36,51,52) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

         borough  ...                                              gis_nta_name
0  MANHATTAN      ...  Midtown-Midtown South
1  STATEN ISLAND  ...  Todt Hill-Emerson Hill-Heartland Village-Lighthouse Hill
2  BROOKLYN       ...  Bay Ridge
3  BROOKLYN       ...  Erasmus
4  BROOKLYN       ...  Flatlands

[5 rows x 60 columns]

# Understanding the Dataset

Each row represents a permit application to construct or demolish on a property in NYC. The columns provide extensive information about which building is being affected, where, when, by whom... since there are 60 columns, we won't describe all of them here, but you are welcome to look more into what each of the columns mean (https://data.cityofnewyork.us/Housing-Development/DOB-Permit-Issuance/ipu4-2q9a). You may not need to use all of the columns below in your submission.


borough = the borough of the property in the permit

bin__ = number assigned by City Planning to a specific building 

house__ = house number of Residence or Commercial Property

street_name = street name where Property is located

job__ = number assigned by DOB to Job Filing

job_type = job type, based on DOB Job Code (NB-New Building, A1, A2, A3- Alterations 1-3, SG-Sign, etc.)

zip_code = zipcode of the property in the permit

filing_date = date the permit application was filed

issuance_date = date the permit was issued (approved)

expiration_date = date the permit expires

job_start_date = date the work on the property starts

gis_nta_name = Neighbourhood Tabulation Area Name (https://www1.nyc.gov/assets/planning/download/pdf/planning-level/nyc-population/census2010/ntas.pdf)

# Working with the Data

**Q1a**: How many categories/features do we have in our dataset?

**Answer**:

**Q1b**: Check the info summary of the dataset. Do we have enough data in each column? Do you think we should neglect any column?

**Answer:**

------------------------------------------------------

**Q2a:** List the amount of permit applications in each of the boroughs:

**Q2b:** As you can see, the top 3 boroughs make up most of the permits, so we want to break them down further. What are the top 10 zipcodes for permits in each of the top 3 boroughs? Visualize your results using bar charts (Write one line for each borough, in 3 separate cells).

**Q2c**: Which 3 zipcodes have the most permits? Why do you think this is?

**Answer**:

------------------------------------------------------

**Q3:** Show the mean time between when a job starts and the expiration date of its permit, by borough

In [ ]:
#hint: https://pandas.pydata.org/docs/reference/api/pandas.TimedeltaIndex.mean.html?highlight=mean%20time%20delta#pandas.TimedeltaIndex.mean

**Qextra:** find some more interesting insights!